.idea/
.mixin.out/
.qmenu_opened.marker
XaeroWaypoints_BACKUP240807/
XaeroWorldMap/
crash-reports/
icon.png
local/
logs/
modernfix/
mods/
options.txt
patchouli_data.json
resourcepacks/
rhino.local.properties
saves/
schematics/
screenshots/
shaderpacks/
usercache.json
usernamecache.json
xaero/
