.idea/
.mixin.out/
.vscode/
config/jei/world/
config/spark/tmp/
coremods/
crash-reports/
immersive_paintings/
immersive_paintings_cache/
local/
logs/
modernfix/
# mods/
resourcepacks/
saves/
schematics/
screenshots/
shaderpacks/
xaero/
XaeroWorldMap/
XaeroWaypoints_BACKUP240807/

.qmenu_opened.marker
icon.png
options.txt
patchouli_data.json
rhino.local.properties
usercache.json
usernamecache.json

*.log
servers*
